/* code pen her a grid and flex layout which will match perfectly!*/

body {
    background-color: #0C1E2F;
    color:antiquewhite;
    margin-top: 0;
    text-align: center;
}

header {
    background-color: rgb(248, 232, 225);
    color : #0C1E2F;
    display: flex;
    flex-direction: row;
    padding-left: 3%;
    padding-right: 3%;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    list-style: none;
    align-items: center;
    gap: 2rem;
    box-sizing: border-box;
    
}

header button {
    align-items: right;
    text-align: right;
}

.page-content {
    display: flex;
    overflow-y: scroll;
}

.notebook_bar {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: white;
    background-color:rgb(235, 162, 136);
    width: 25%;
    margin-top: 8%;
    margin-bottom: 8%;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}

.content {
    flex: 3;
    display: flex;
    flex-direction: column;
    overflow-y: clip;
    width: 75% ;
    padding: 5%
}

.button_start {
    color: #0C1E2F;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    margin-right: 40%;

}



.continer {
    padding: 10px;
    overflow-y: scroll;
    display: flex;
}




footer {
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgb(248, 232, 225);
    color : #0C1E2F;
    width: 100%;
    align-items: center;
    
}

