/* code pen her a grid and flex layout which will match perfectly!*/

body {
    background-color: rgb(39, 57, 131);
    color:antiquewhite;
    margin-top: 0;
    text-align: center;
}
header {
    background-color:antiquewhite;
    color:rgb(39, 57, 131);
    text-align:center;
    display: flex;
    flex-direction: row;
    padding-left: 3%;
    padding-right: 3%;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    list-style: none;
    align-items: center;
    gap: 2rem;
    box-sizing: border-box;
    
}

header button {
    align-items: right;
}

