/* code pen her a grid and flex layout which will match perfectly!*/

body {
    background-color: #0C1E2F;
    color:antiquewhite;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

header {
    background-color: rgb(248, 232, 225);
    color : #0C1E2F;
    display: flex;
    flex-direction: row;
    padding-left: 3%;
    padding-right: 3%;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    list-style: none;
    align-items: center;
    gap: 2rem;
    box-sizing: border-box;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}

header button {
    align-items: right;
    text-align: right;
}

h1 {
    font-size: xx-large;
}

.page-content {
    display: flex;
    min-height: 100vh;
}

.notebook_bar {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    background-color:rgb(235, 162, 136);
    width: 15em;
    flex-shrink: 0;
    max-width: 12em;
    margin-top: 8%;
    margin-bottom: 8%;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    row-gap: 1em;
    text-align: left;
    max-height: 40em;
}

.bar-item-button{
    text-align: left;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 8%;
    padding-right: 2%;
    font-size: large;
    text-decoration: none; 
    color: inherit;
}

.new_notebook{
    margin-top: auto;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-right: 15% ;
    
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-width: 70em;
    padding: 3rem;
}

.button_start {
    color: #0C1E2F;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    margin-right: 40%;

}

.continer {
    padding: 10px;
    overflow-y: scroll;
    display: flex;
}

.note {
    background-color:rgb(248, 232, 225);
    color: black;
    border-radius: 2em;
    padding: 1rem;
    max-width:45em;
    min-height: 40em;
}

.sticky-note {
    background-color: rgba(243, 238, 95, 0.852);
    color: black;
    width: 15em;
    height: 14em;
    padding: 1rem;
    margin-left: 50em;
}


.index-card {
    background-color:rgb(248, 232, 225);
    color: black;
    border-radius: 0.5em;
    padding:1rem;
    max-width: 30em;
}



